*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header_container{
    width: 100%;
    min-height: 72px;
    border: 1px solid #FBF9FF;
    background-color: #FBF9FF;
}
.navbar{
    margin: 12px 32px;
}
.logo{
    padding: 13px;
    display: inline-block;
}

